@CHARSET "ISO-8859-1";

body {
	padding-left: 10%;
}

.header {
	text-align: center;
	background-color: red;
	height: 10%;
	margin-right: 5%;
}

.main {
	margin-left: 30%;
	width: 40%;
	text-align: center;
	background-color: #F2F2F2;
	height: 70%;
}

.content {
	margin-top: 3%;
	margin-left: 25%;
	padding-top: 5%;
	padding-left: 15%;
	background: #F0F0F0;
	width: 40%;
	font-family: "Verdana";
	border: 0.5% solid #000fff;
	box-shadow: 10px 5px #998D7B;
}

label {
	margin-top: 10px;
	width: 50%;
	text-align: left;
}

input {
	font-family: Georgia, "Times New Roman", Times, serif;
	border: none;
	font-size: 16px;
	outline: 0;
	padding: 7px;
	width: 50%;
	height: 50px;
}

input :focus {
	border: 1px SOLID #EDEDED;
}

.space {
	line-height: 70px;
}

.submit {
	padding-left: 20%;
	border: 1px SOLID #EDEDED;
}